{{ define "main" }}
<main role="main" class="home">
  <section class="home__header">
    <h1 class="home__header__title">
      <a href="{{ "/" | relURL }}">
        {{- if .Title -}}
        {{ .Title }}
        {{- else -}}
        {{ site.Title }}
        {{- end -}}
      </a>
    </h1>
    <div class="home__header__description">
      {{ .Description }}
    </div>
    <nav class="home__header__nav">
      <a href="{{ "/about" | relURL }}">About</a>
      <a href="{{ "/en" | relURL }}">Blog</a>
      <a href="{{ "/zh" | relURL }}"><span lang="zh">博客</span></a>
    </nav>
  </section>
  {{ with .Content -}}
  <section class="home__introduction">
  <hr>
  <article class="entry__content">
    {{ . }}
  </article>
  </section>
  {{- end }}
</main>
{{ end }}
