.highlight {
  color: $code-base-color;

  // Highlighted line
  .hl {
    display: block;
    background-color: $code-marker-color;
  }

  // Keyword
  .k,
  .kc,
  .kd,
  .kn,
  .kp,
  .kr,
  .kt {
    color: $code-keyword-color;
  }

  // Operator
  .o,
  .ow {
    color: $code-operator-color;
  }

  // String
  .s,
  .sa,
  .sb,
  .sc,
  .sd,
  .s2,
  .sh,
  .sx,
  .s1,
  .ss {
    color: $code-string-color;
  }

  .se,
  .si,
  .sr {
    color: $code-keyword-color;
  }

  // Error
  .err {
    color: $code-alert-color;
  }

  // Punctuation
  .p {
    @include secondary-content;
  }

  // Comment
  .c,
  .ch,
  .cm,
  .c1,
  .cs,
  .cp,
  .cpf {
    @include secondary-content;
  }

  // Generic
  .ge {
    color: $code-alert-color;
  }

  .gh,
  .gp,
  .gs,
  .gu {
    color: $code-keyword-color;
  }
}
