// Typograph
$base-font-size: 18px !default;
$base-font-family: "EB Garamond",
                   "Noto Serif CJK SC",
                   "Noto Serif CJK",
                   "Source Han Serif SC",
                   "Source Han Serif CN",
                   "Source Han Serif",
                   "Songti SC",
                   serif !default;
$p-font-size: 1rem !default;
$p-indent-size: 2 * $p-font-size !default;
$line-height: 1.62 * $p-font-size !default;
$h1-font-size: 1.84rem !default;
$h1-margin: $line-height auto !default;
$h2-font-size: $line-height !default;
$h2-margin: (2 * $line-height - $h2-font-size) auto $line-height !default;
$h3-font-size: 1.1rem !default;
$h3-margin: $line-height auto ($line-height - $h3-font-size) !default;

// Color
$base-color: #333332;
$cjk-emph-color: #95001a;
$bold-color: #111112;
$auxilliary-border-color: rgba(0, 0, 0, 0.3);

// Code
$code-font-family: "Source Code Pro", monospace !default;
$code-font-size: 0.8rem !default;
$highlight-base-color: #555556;
$highlight-string-color: #333332;
$highlight-keyword-color: #111110;
$highlight-op-color:  #111112;
$highlight-emph-color: $cjk-emph-color;

// Container
$container-width: 768px !default;
$container-padding: 0 1em !default;
$container-margin: 2 * $line-height auto !default;

// Responsive
$break-point: 768px !default;
$small-font-size: 16px !default;

// Anchor
$anchor-color: inherit !default;
$anchor-hover-color: #777 !default;
$anchor-underline-color: $auxilliary-border-color !default;

// Table
$table-border: 1px solid #555554 !default;

// Icon
$icon-width: 1em !default;

// Misc
$auxilliary-border: 1px solid $auxilliary-border-color !default;

@mixin secondary-content {
  opacity: 0.7;
}

@mixin minor-content {
  opacity: 0.3;
}

@mixin hyphens($mode) {
  hyphens: $mode;
}
